<ion-header>
  <ion-toolbar>
      <!-- <ion-avatar>
          <img src="/assets/profile.jpg">
        </ion-avatar> -->
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      
        <!-- <ion-card-header>
          <ion-card-subtitle>Home</ion-card-subtitle>
          <ion-card-title>News App</ion-card-title>
        </ion-card-header> -->
        <img src="/assets/homeImg.jpg">
        <ion-card-content>

            <b>Stay informed in 60 words.</b><br><br>

            We understand you don’t have time to go through long news articles everyday. So we cut the clutter and deliver them, in 60-word shorts. Short news for the mobile generation.
        </ion-card-content>
      </ion-card>
     
      <!-- <ion-avatar>
          <img src="/assets/profile.jpg">
        </ion-avatar> -->
        
       
      
</ion-content>
