<ion-header>
  <ion-toolbar>
    <ion-title>{{categoery}} News</ion-title>
    <ion-buttons slot="start" defaultHref="/tabs/tab2">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
         
          <ion-card-title>{{newsHeading}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
       {{newsDetail}}
        </ion-card-content>
      </ion-card>
      
     
</ion-content>
